body {
  font-family: 'Poppins', sans-serif;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.contactFormContainer  {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactFormContainer  form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  margin-bottom: 35px;
}

.contactFormContainer form input,
  .contactFormContainer form textarea {
    border: 1px solid #eee;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    padding: 11px 20px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    width: 100%;
  }

  .contactFormContainer form input:focus,
  .contactFormContainer form textarea:focus {
    border-color: #80bdff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  .contactFormContainer form textarea {
    resize: none;
  }

  .contactFormContainer form ::-webkit-input-placeholder {
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: #6c757d;
    opacity: 1;
    font-family: 'Poppins', sans-serif;
  }

  .contactFormContainer form :-ms-input-placeholder {
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: #6c757d;
    opacity: 1;
    font-family: 'Poppins', sans-serif;
  }

  .contactFormContainer form ::-ms-input-placeholder {
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: #6c757d;
    opacity: 1;
    font-family: 'Poppins', sans-serif;
  }

  .contactFormContainer form ::placeholder {
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: #6c757d;
    opacity: 1;
    font-family: 'Poppins', sans-serif;
  }

.contactFormContainer form .subjectInput,
  .contactFormContainer form .messageInput {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 /3;
}

.contactFormContainer button {
  padding: 14px 40px;
  font-size: 1.17em;
  border: none;
  background-color: #2b1d9c;
  color: white;
  letter-spacing: 1px;
  border-radius: 40px;
  width: 140px;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.contactFormContainer button:focus {
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.contactFormContainer button:hover {
  -webkit-box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.2);
}